body {
    margin: 0;
    background-image: url(../image/262D0E3F524D89BB09.jpeg);
    width: 100%;
}

header {
    position: fixed;
    top: 0px;
    background-color: #6DA0FD;
    width: 100%;
    height: 200px;
    z-index: 2;
}

.headerimage {
    position: relative;
    top: 10px;
    text-align: center;
}

.headerimage img{
    width: 100px;
    height: 100px;
}

.menu {
    position: relative;
    top: 40px;
    left: 310px;
    display: flex;
    width: 800px;
    justify-content: space-between;
}

a {
    text-decoration: none;
    font-size: 17px;
    font-family: 'Roboto Mono', monospace;
}

.spread-underline {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 0;
    position: relative;
}

.spread-underline::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.spread-underline:hover::after {
    width: 100%;
    left: 0%;
}

#main {
    color: white;
    text-align: center;
    position: relative;
    top: 260px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#toptext {
    font-size: 38px;
    font-family: 'Roboto Mono', monospace;
}

#undertext {
    font-size: 130px;
    font-family: 'Roboto Mono', monospace;
}

#line {
    border-style: solid;
    border-width: 1px;
    border-color: #6DA0FD;
    margin-top: 40px;
    margin-left: 550px;
    margin-right: 550px;
}

#content {
    margin-top: 600px;
}

.box1, .box2 {
    margin-bottom: 300px;
    display: flex;
}

.box3 {
    margin-bottom: 200px;
    display: flex;
}

#boximage {
    margin-left: 180px;
    margin-right: 90px;
}

.boxtext {
    position: relative;
    top: 60px;
    width: 600px;
    height: 600px;
    color: white;
    background-color: #0050BC;
}

#text {
    position: relative;
    top: 40px;
    left: 20px;
}

#title {
    font-size: 25px;
}

#contents {
    font-size: 15px;
}

img {
    width: 400px;
    height: 600px;
}

a {
    text-decoration: none;
    color: white;
}

#contents a {
    text-decoration: none;
    color: white;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 20px;
    padding: 10px;
}

#contents a:hover {
    background-color: white;
    color: #0050BC;
}
