body {
    margin: 0;
}

.putter {
    width: 100%;
    height: 50px;
    background-color: #6DA0FD;
}

.mmenu {
    display: flex;
    color: white;
    font-family: 'Roboto Mono', monospace;
    line-height: 50px;
}

.email {
    margin-left: 40px;
    margin-right: 50px;
}

.icon {
    display: flex;
    margin-left: 900px;
}

.icon1 {
    margin-right: 20px;
}

i {
    color: white;
}