body {
    background-image: url(../262D0E3F524D89BB09.jpeg);
    margin: 0;
}
#headerbox {
    color: white;
    background-color: #0050BC;
    width: 50vw;
    height: 100vh;
    position: relative;
    left: 750px;
    display: none;
}
#arrow {
    color: white;
    font-size: 20px;
    position: absolute;
    left: 680px;
    cursor: pointer;
}
.showanimation {
    display: flex;
    animation-name: slidein;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes slidein {
    from {
        transform: none;
        width: 100%;
    }
    to {
        transform: translateX(60%);
        width: 100%;
    }
}
#menu {
    text-align: center;
}
p {
    font-size: 20px;
    margin-bottom: 100px;
}