body {
    margin: 0;
    width: 100vw;
    background-image: url(../image/262D0E3F524D89BB09.jpeg);
}

header {
    position: fixed;
    top: 0px;
    background-color: #6DA0FD;
    width: 100%;
    height: 160px;
    z-index: 2;
}

header a {
    position: relative;
    top: 10px;
    display: flex;
    justify-content: center;
}

header a img{
    width: 80px;
    height: 80px;
}

.menu {
    position: relative;
    top: 18px;
    left: 310px;
    display: flex;
    width: 800px;
    justify-content: space-between;
}

.menu a {
    text-decoration: none;
    font-size: 17px;
    font-family: 'Roboto Mono', monospace;
}

.spread-underline {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 0;
    position: relative;
}

.spread-underline::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.spread-underline:hover::after {
    width: 100%;
    left: 0%;
}

#main {
    color: white;
    text-align: center;
    position: relative;
    top: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#toptext {
    font-size: 38px;
    font-family: 'Roboto Mono', monospace;
}

#undertext {
    font-size: 130px;
    font-family: 'Roboto Mono', monospace;
}

#line {
    border-style: solid;
    border-width: 1px;
    border-color: #6DA0FD;
    margin-top: 40px;
    margin-left: 550px;
    margin-right: 550px;
}

#aboutme {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 700px;
    margin-bottom: 150px;
}

#image img{
    width: 450px;
    height: 450px;
}

#box {
    width: 450px;
    height: 450px;
    background-color: #0050BC;
    color: white;
    position: relative;
    right: 60px;
    top: 30px;
}

#boxtext {
    margin-top: 40px;
    margin-left: 40px;
    font-family: 'Noto Sans KR', sans-serif;
}

#boximage {
    margin-left: 150px;
}

#boximage img {
    width: 250px;
    height: 250px;
}

body {
    margin: 0;
}

.putter {
    width: 100%;
    height: 50px;
    background-color: #6DA0FD;
    position: relative;
    top: 640px;
}

.mmenu {
    display: flex;
    color: white;
    font-family: 'Roboto Mono', monospace;
    line-height: 50px;
}

.email {
    margin-left: 40px;
    margin-right: 50px;
}

.icon {
    display: flex;
    margin-left: 900px;
}

.icon1 {
    margin-right: 20px;
}

i {
    color: white;
}

@media (max-width: 960px) {
    header {
        height: 150px;
    }

    .headerimage img {
        width: 80px;
        height: 80px;
    }

    .menu {
        top: 10px;
        width: 600px;
        left: 195px;
    }

    #aboutme {
        position: relative;
        left: 55px;
    }

    #image img {
        width: 400px;
        height: 400px;
    }

    #box {
        width: 400px;
        height: 400px;
    }

    #boxtext {
        font-size: 15px;
    }

    #boximage {
        margin-left: 200px;
    }

    #boximage img {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 375px) {
    header {
        height: 130px;
    }

    .headerimage img {
        width: 60px;
        height: 60px;
    }

    .menu {
        top: 15px;
        width: 330px;
        left: 40px;
    }

    .menu a {
        font-size: 13px;
    }

    #image img {
        width: 180px;
        height: 180px;
    }

    #box {
        width: 180px;
        height: 180px;
    }

    #boxtext {
        margin-top: 20px;
        margin-left: 20px;
        font-size: 10px;
    }
}