body {
    margin: 0;
    background-image: url(../262D0E3F524D89BB09.jpeg);
    width: 100vw;
}
#main {
    color: white;
    text-align: center;
    position: relative;
    top: 260px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#toptext {
    font-size: 38px;
    font-family: 'Roboto Mono', monospace;
}
#undertext {
    font-size: 130px;
    font-family: 'Roboto Mono', monospace;
}
#line {
    border-style: solid;
    border-width: 1px;
    border-color: #0050BC;
    margin-top: 40px;
    margin-left: 550px;
    margin-right: 550px;
}
.content {
    margin-top: 600px;
    width: 100vw;
}
#content1 {
    margin-left: 750px;
    cursor: pointer;
}
#content2 {
    margin-left: 100px;
    cursor: pointer;
}
#content3 {
    margin-left: 950px;
    cursor: pointer;
}
#content4 {
    margin-left: 650px;
    cursor: pointer;
}
#content5 {
    margin-left: 80px;
    cursor: pointer;
}
#content6 {
    margin-left: 600px;
    cursor: pointer;
}
#content7 {
    margin-left: 950px;
    cursor: pointer;
}
#image {
    position: relative;
    top: -226px;
    right: 25px;
}
#boxline {
    width: 300px;
    height: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    position: relative;
    z-index: 1;
}
#image img{
    width: 350px;
    height: 250px;
}
#content1:hover img {
    transform: scale(1.1);
}
#content2:hover img {
    transform: scale(1.1);
}
#content3:hover img {
    transform: scale(1.1);
}
#content4:hover img {
    transform: scale(1.1);
}
#content5:hover img {
    transform: scale(1.1);
}
#content6:hover img {
    transform: scale(1.1);
}
#content7:hover img {
    transform: scale(1.1);
}
.add1, .add2, .add3, .add4, .add5, .add6, .add7 {
    z-index: 10;
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
}
.showanimation {
    display: flex;
    animation-name: slideup;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes slideup {
    from {
        transform: translateY(50%);
        width: 100%;
    }
    to {
        transform: none;
        width: 100%;
    }
}
.addbox {
    width: 100vw;
    height: 100vh;
    background-color: #0050BC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.arrow1, .arrow2, .arrow3, .arrow4, .arrow5, .arrow6, .arrow7 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 700px;
    cursor: pointer;
}
.closeanimation {
    display: flex;
    animation-name: slidedown;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes slidedown {
    from {
        transform: none;
        width: 100%;
    }
    to {
        transform: translateY(100%);
        width: 100%;
    }
}
.addimage {
    position: absolute;
    left: 30px;
}
.addimage img {
    width: 650px;
    height: 450px;
}
.addtext {
    color: white;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    position: absolute;
    right: 30px;
}
.bigtext {
    font-size: 30px;
}
.hidden {
    display: none;
}
