body {
    margin: 0;
    width: 100%;
    background-image: url(../262D0E3F524D89BB09.jpeg);
}
#home {
    width: 100%;
    color: white;
    font-size: 150px;
    text-align: center;
    margin-top: 220px;
    margin-bottom: 300px;
    font-family: 'Roboto Mono', monospace;
}
#aboutme {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}
#image img{
    width: 450px;
    height: 450px;
}
#box {
    width: 450px;
    height: 450px;
    background-color: #0050BC;
    color: white;
    position: relative;
    right: 60px;
    top: 30px;
}
#boxtext {
    margin-top: 40px;
    margin-left: 40px;
    font-family: 'Noto Sans KR', sans-serif;
}
#boximage {
    margin-left: 150px;
}
#boximage img{
    width: 250px;
    height: 250px;
}